body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    align-items: center;
}

hr {
    width: 500px;
    height: 3px;
    background-color: black;
}

#board {
    width: 450px;
    height: 450px;
    background-color: goldenrod;
    color: white;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
}

.tile {
    width: 147px;
    height: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

.winner {
    background-color: gray;
    color: red;
}

.notification_card {
    visibility: hidden;
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.143);
    box-shadow: 0px 0px 10px;

    position: absolute;
}

.card {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: orangered;
    margin: auto;
}

.card p {
    color: orange;
    font-size: 20px;
}

.card button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: pink;
}